/* PALETA DE COLORES  */
:root {
    --ColorFondo: #2b2b2b;
}


/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}

body {
    background-color: var(--ColorFondo) !important;
    width: 100%;
    height: 640px;
    font-family: 'Roboto', sans-serif;
    text-align: center !important;
}

*,
*:before,
*:after {
    margin: 0rem;
    padding: 0rem;
    box-sizing: inherit;
}

.section {
    margin-top: 25px;
    margin-bottom: 25px;
}

/* HERO */

nav {
    height: 15rem;
    max-width: 100%;
}

.hero {
    display: flex;
    justify-content: center;
    background-color: white;

}

.heroImage {
    max-width: 80%;
}

.objectfit {
    display: flex;
    justify-content: space-around;
    margin-top: -3.5rem;
    align-items: center;

}

.objectfit>img {
    width: 7rem;
    height: 7rem;
    object-fit: contain;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: black;
    border: 3px solid #124C39;
    z-index: 1000;

}

.tituloHeader {
    display: flex;
    flex-direction: column;
}

.subtitulo {
    color: white;
    font-size: 19px;
    font-weight: 700;
    text-align: center;
}

.galeria__subtitulo {
    width: 100%;
    margin: 0;
    padding: 1rem;
    height: 3rem;
    z-index: 1000;
    font-weight: 700;

}


/* REDES */
.redes {
    height: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    list-style: none;
    padding: 0px;
}

.routes {
    border-radius: 50%;
    /* background-color: #FFFF; */
    padding: 1rem;
}

.links {
    max-width: 3rem;
}

/* MEDIA QUERIES  */
/* @media (min-width: 180px) and (max-width: 368px) {
    body {
        width: 250px;

    }

    .hero {
        width: 50%;
    }

} */
/* CARRUSEL DE SERVICIOS  */

.containerServicios {
    display: flex;
    overflow-x: scroll;
    padding: 24px;
    width: 100%;
    scroll-snap-type: x mandatory;
    scroll-padding: 24px;
    border-radius: 8px;
    gap: 12px;
}

.containerServicios .itemServicios {
    flex: 0 0 100%;
    padding: 24px;
    border-radius: 8px;
    scroll-snap-align: start;

}

.itemServicios {
    background-color: aqua;
    cursor: pointer;
}